*{
  margin: 0px;
  padding: 0px;
}
body{
 background-color: rgb(44, 44, 100);
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 

}

.passwordbox{
  width: 300px;
  padding: 20px;
  background-color: blueviolet;

  text-align: center;
}

.passwordboxin input{
  flex: 80%;
  padding: 8px 0px;

}
.passwordboxin button{
  flex: 20%;
  padding: 8px 0px;
}

.passwordboxin{
  display: flex;
  gap: 8px;
  align-items: center;
}

.passlength{
  padding: 8px 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.passlength input{
  padding: 7px 0px;
  width: 50px;
}
.btn{
  background-color: rgba(11, 255, 239, 0.603);
  width: 50%;
  padding: 8px;
  cursor: pointer;
}